:root {
    --couleur-primaire : #001f3f;

 background-image: url('logo.jpg');
    background-position: top left;
    background-repeat: no-repeat;

}

h1 {
font-family: 'Arial', sans-serif;
color: white;
}

body {
font: 1.2em "Fira Sans", sans-serif;

background: rgb(128,0,128);
  background: linear-gradient(0deg, 
  rgba(192,192,192,1) 0%, rgba(75,163,255,1) 
  100%);
}
    transform-origin: bottom left;
    transform: rotate(135deg) translate(-80%, 20%);
    -webkit-transform: rotate(135deg) translate(-80%, 20%);
  }
}
